<div class="module">
  <h2>Editing Share</h2>
  <%= form_for [@group, @bill_type, @share] do |f| %>
    <h2><%= @bill_type.name %></h2>
    <%= f.hidden_field :bill_type_id, value: params[:bill_type_id] %> 
    <%= f.label :percent  %>
    <%= f.number_field :percent %>
    <%= f.submit %>
  <% end %>
</div>