<div class="module"> 
<h2>Share of the bill</h2>   
<% @shares.each do |share| %>
  <%= share.grouping.user.first_name %> : <%= share.percent  %>&#37; 
  <%= link_to 'edit', edit_group_bill_type_share_path(@group, @bill_type, share.id), class: "button" %> <br>
<% end %>

<% @group.users.each do |user| %>
  <% if user.user_avatar.present? %>
    <%= link_to image_tag(user.user_avatar.thumb.url), user.user_avatar.detail.url %> <%= user.find_share(@bill_type, user.find_grouping(@group)).try(:percent)  %>&#37;
  <% else %>
    <%= user.email %> <%= user.find_share(@bill_type, user.find_grouping(@group)).try(:percent)  %>&#37;
  <% end %>
<% end %>