Group:      <%= @group.name %> <br>
Bill Type:  <%= @bill_type.name %> <br>
SHare:  
<div class="module">    
<% @shares.each do |share| %>
  <%= share.grouping.user.first_name %> : <%= share.percent  %>
  
  <%= link_to 'edit', edit_group_bill_type_share_path(@group, @bill_type, share.id), class: "button" %> <br>

<% end %>

</div>

