<h3><%= @group.name %></h3>
<p><%= @group.description %></p>

<h2>People in the group</h2>
<ul>
  <% @group.users.each do |user| %>
    <li>
      <%= user.first_name %>      
    </li>
  <% end %>
</ul>

<%= link_to 'add person', new_group_grouping_path(@group) %>
<%= link_to 'edit group', edit_group_path(@group) %>

<br>

<h2>Bills for group</h2>
<% if @bills %>
<% @bills.each do |bill| %>
  <%= bill.name %> <%= bill.amount %> 
  <%= link_to 'Details', group_bill_path(@group.id, bill.id) %><br>
  <% end %>
<% end %>

<h3>Total</h3>
<%= @group.calculate_total %> <br>

<%= link_to 'add new bill', new_group_bill_path(@group) %>
<%= link_to 'new bill type', new_group_bill_type_path(@group) %>