<h3><%= @group.name %></h3>
<p><%= @group.description %></p>

<h2>People in the group</h2>
<ul>
  <% @group.users.each do |user| %>
  <li>
    <%= user.first_name %>      
  </li>
  <% end %>
</ul>

<%= link_to 'add person', new_group_grouping_path(@group) %>
<%= link_to 'edit group', edit_group_path(@group) %>

<br>
<h2>Bills for <%= @group.name %></h2>
<br>

<table>
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Bill name</th>
      <th>Bill Type</th>
      <th>Total Amount</th>
      <th>Total Outstanding</th>
      <!-- HACK! -->
      <% @group.users.each do |user| %>
      <th>Paid by: <%= user.first_name.first %>. <%= user.last_name %></th>
      <% end %>
    </tr>


  </thead>
    <tbody>
      <% if @bills %>
      <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.deadline %></td>
        <td><%= link_to bill.name, group_bill_path(@group.id, bill.id) %></td>
        <td><%= bill.bill_type.name %></td>
        <td><%= bill.try(:total_amount) %></td>
        <td>&pound;<%= bill.amount %></td>

      <%#= bill.due_for_user(current_user) %>
      <% @group.users.each do |user| %>
      <!-- HACK! -->
      <td>
        <%= bill.proportions.where(user_id: user.id).map(&:amount).inject(:+) %>
      </td>
      <% end %>
      <td><%= link_to 'Make Payment', new_group_bill_proportion_path(@group, bill) %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <ul>
    <li>1. <%= link_to 'new bill type', new_group_bill_type_path(@group) %></li>
    <li>2. <%= link_to 'add new bill', new_group_bill_path(@group) %></li>
  </ul>
</div>
<br>

<div>
  <h2>Payments made</h2><br>
  <% @group.bills.each do |bill| %>
  <% bill.proportions.each do |proportion| %>
  &pound;<%= proportion.amount.to_i %><br>
  paid on: <%= proportion.created_at %><br>
  <% end %>
  to: <%= bill.name %><br>
  <% end %>
</div>