<h3><%= @group.name %></h3>
<p><%= @group.description %></p>

<h2>People in the group</h2>
<ul>
  <% @group.users.each do |user| %>
    <li>
      <%= user.first_name %>      
    </li>
  <% end %>
</ul>

<%= link_to 'add person', new_group_grouping_path(@group) %>

<br>

<h2>Bills for group</h2>
<% @bills.each do |bill| %>
  <%= bill.name %> <%= bill.amount %> <br>
<% end %>

<h3>Total</h3>
<% @group.calculate_total %>
<%= @group.total %>