<div class="module">
  <div>
    <h2><%= @group.name %></h2>
    <p><%= @group.description %></p>
  </div>
  <br>
  <div>
    <% @group.users.each do |user| %>
      <% if user.user_avatar.present? %>
        <%= link_to image_tag(user.user_avatar.thumb.url), user.user_avatar.detail.url %>
      <% else %>
        <%= user.email %>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Add Person', new_group_grouping_path(@group), class: "button" %>
  <%= link_to 'Edit Group', edit_group_path(@group), class: "button" %>
  <%= link_to 'New Bill Type', new_group_bill_type_path(@group), class: "button" %>
  <%= link_to 'Add New Bill', new_group_bill_path(@group), class: "button" %>
</div>

<div class="module">
  <% @bills.each do |bill| %>
    <div class="bill">
      <div>
        <h2><%= link_to bill.name, group_bill_path(@group.id, bill.id) %></h2>
      </div>
      <div>
        Total amount: &pound;<%= bill.amount %>
      </div>
      <div>
        Outstanding: &pound;<%= bill.outstanding_amount %>
      </div>
      <div>
        <%= link_to 'Make Payment', new_group_bill_proportion_path(@group, bill), class: "button" %>
      </div>
      <div>
        <%= link_to 'set shares', new_group_bill_type_share_path(@group, bill[:bill_type_id]), class: "button" %>
      </div>
        <div>
          <%= link_to 'edit shares', group_bill_type_shares_path(@group, bill[:bill_type_id]), class: "button" %>
        </div>
    </div>
  <% end %>
</div>

<aside class="module">
  <h2>Payments Made</h2>
  <% @group.bills.each do |bill| %>
    <% bill.proportions.each do |proportion| %>
      <p>&pound;<%= proportion.amount.to_i %>  was paid on <%= proportion.created_at.to_formatted_s(:short) %> to <%= bill.name %></p>
    <% end %>
  <% end %>
</aside>