<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
 <div>
  <%= f.label :user_avatar %><br>
  <%= f.file_field :user_avatar %>
</div>
 <div>
  <%= f.label :remote_user_avatar_url %><br>
  <%= f.text_field :remote_user_avatar_url %>
</div>