<div class="module">
  <div>
    <h2>Hello <%= @user.first_name%></h2>
  </div>
  <div>
    <% if @user.user_avatar.present? %>
      <%= link_to image_tag(@user.user_avatar.thumb.url), @user.user_avatar.detail.url %>
    <% else %>
      <%= link_to image_tag("billshare_no_photo_small.jpg") %>
    <% end %>
 </div>
 <div>
  <%= link_to "Edit profile", edit_user_path(@user), class: "button" %>
  <%= link_to "Change password", edit_user_registration_path, class: "button"%>
</div>  

<script>
  $(function(){
    $("#invite_fb_friends").click(function(){
      FB.init({
        appId: '<%= ENV['FBAccessKeyId'] %>', 
        cookie: false,
        status: true
      });
      FB.ui({ method: 'apprequests', message: '<%= current_user %> thinks you are really awesome'})
    });
  });
</script>

<div class="module">
  <% @user.groups.each do |group| %>
    <div class="bill">
      <h2><%= link_to group.name, group_path(group) %></h2>
      <%= group.description %> <br>
      <%= link_to "Edit", edit_group_path(group), class: "button" %>
    </div>
  <% end %>
</div>


<%= link_to "Create new group", new_group_path, class: "button" %><br>
<%= link_to image_tag("fb_invite.png"), "#", :id => "invite_fb_friends" %>