<h3>Hello <%= @user.first_name%></h3>

<table  style="width:100%">
  <tr>
    
    <% @user.groups.each do |group| %>
    <h3>Your group: </h3>
        <%= group.name %>
      <h3>Group Bills:</h3>
      <% User.user_bills(@user.first_name, group.name).each do |bill| %>
        <%= bill.name %>: <%= bill.amount %> <br>
      <% end %>
      <%= group.total %>
      <h3>Your part</h3>
      <% User.user_proportions(@user.id, group.id).each do |proportion| %>
        <%# if bill.name == proportion.bill_type.name  %>
          <%= proportion.percentage %> % <br>
        <%# end %>
      <%end %>
      <p>--------------------------</p>
      <br>
    <% end %> 
</table>

<%= link_to "Edit profile", edit_user_path(@user) %>

<br>
<% @groups.each do |group| %>
  <%= group.name %>
<% end %>
<br>

<% @bills.each do |bill| %>
  <% bill.each do |b| %>
    <%= b.name %>:<%= b.amount %> <br>
  <%end %>
<%end %>
<br>
<p>bill_types for gruop: </p>
<% @bill_types.each do |b_type| %>
  <% b_type.each do |b_t| %>
    <%= b_t.name %> <br>
  <% end %>
<% end %>


