<div class="module">
  <div>
    <h2><%= @bill.name %></h2>
    <h3>Bill added on:</h3>
    <%= @bill.created_at.to_formatted_s(:short) %>
    <h4>Bill total</h4>
    <%= @bill.amount %>
    <h4>Bill amount outstanding:</h4>
    <%= number_to_currency(@bill.outstanding_amount, unit: "£") %>
    <h4>Deadline:</h4>
    <%= @bill.deadline.to_formatted_s(:short) %>  
  </div>

  <div>
    <h2>who needs to pay</h2>
    <% @bill.group.users.each do |user| %>
    <div>
      <%= user.first_name.first.upcase %>. <%= user.last_name %>
    </div> <br>
    <div>
      needs to pay: <%= @bill.share_for_user(user) %>
    </div>
    <div>
      left to pay: <%=  @bill.outstanding_amount_for_user(user) %>
    </div> <br>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_group_bill_path, class: "button" %>
  <%= link_to "Group page", group_path(@bill.group.id), class: "button" %>
</div>