<div class="module">
  <div class="bill">
    <div>
    <h2><%= @bill.name %></h2>
  </div>
    <div>
      This bill was added on
    
    <%= @bill.created_at.to_formatted_s(:short) %></div>
    <div>Bill total
    &pound;<%= @bill.amount %></div>
    <div>Bill amount outstanding:
    &pound;<%= @bill.outstanding_amount %></div>
    <div>This bill needs to be paid by
    <%= @bill.deadline.to_formatted_s(:short) %></div>  
  </div

  <div>
    <h2>Who needs to pay</h2>
    <% @bill.group.users.each do |user| %>
      <% if user.user_avatar.present? %>
      <div>
        <%= link_to image_tag(user.user_avatar.thumb.url), user.user_avatar.detail.url %> needs to pay: &pound;<%= @bill.share_for_user(user) %></div>
      <% else %>
      <div>
        <%= user.email %> <br> needs to pay: <%= @bill.share_for_user(user) %></div>
      <% end %>
    <% end %>

    <div>
      <%= link_to 'Edit', edit_group_bill_path, class: "button" %>
      <%= link_to "Group page", group_path(@bill.group.id), class: "button" %>
      <%= link_to "Email bill", {controller: "bills", action: "send_group_bill", id: @bill.id}, class: "button" %>
    </div>
  </div>
</div>