<div class="module">
  <div>
    <div class="bill">
      <h2><%= @bill.name %></h2>
      <h3>Bill added on:</h3>
      <%= @bill.created_at.to_formatted_s(:short) %>
      <h3>Bill total</h3>
      <%= @bill.amount %>
      <h3>Bill amount outstanding:</h3>
      <%= number_to_currency(@bill.outstanding_amount, unit: "£") %>
      <h3>Deadline:</h3>
      <%= @bill.deadline.to_formatted_s(:short) %>  
    </div>
  </div>



  <div>
    <h2>Who needs to pay</h2>
    <% @bill.group.users.each do |user| %>
    <div>
    <% if user.user_avatar.present? %>
      <%= link_to image_tag(user.user_avatar.thumb.url), user.user_avatar.detail.url %> needs to pay: <%= @bill.share_for_user(user) %>
    <% else %>
      <%= user.email %> needs to pay: <%= @bill.share_for_user(user) %>
    <% end %>
  <% end %>
  </div>



  <%= link_to 'Edit', edit_group_bill_path, class: "button" %>
  <%= link_to "Group page", group_path(@bill.group.id), class: "button" %>
  <%= link_to "Email bill", {controller: "bills", action: "send_group_bill", id: @bill.id}, class: "button" %>
    <br>

</div>