<div class="module">
  <div>
    <h4><%= @bill.name %></h4>
    <h2>This bill was added on</h2>
    <%= @bill.created_at.to_formatted_s(:short) %>
    <h4>Bill total</h4>
    &pound;<%= @bill.amount %>
    <h4>Bill amount outstanding:</h4>
    &pound;<%= @bill.outstanding_amount %>
    <h4>Deadline:</h4>
    <%= @bill.deadline.to_formatted_s(:short) %>  
  </div>

  <div>
    <h2>who needs to pay</h2>
    <% @bill.group.users.each do |user| %>
    <div>
      <%= user.first_name.first.upcase %>. <%= user.last_name %>
    </div> <br>
    <div>
      needs to pay: &pound;<%= @bill.share_for_user(user)%>
    </div>
    <div>
      left to pay: &pound;<%=  @bill.outstanding_amount_for_user(user) %>
    </div> <br>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_group_bill_path, class: "button" %>
  <%= link_to "Group page", group_path(@bill.group.id), class: "button" %>
  <%= link_to "Email bill", {controller: "bills", action: "send_group_bill", id: @bill.id}, class: "button" %>
</div>