<div class="nav" >
  <nav>
    <ul class='login'>
      <div class="floatright">
      <li><%= link_to 'Home', root_path %></li>
      <% if current_user %>
      <li><%= link_to current_user.email, user_path(current_user) %></li>
      <li><%= link_to "Edit Profile", edit_user_registration_path  %></li>
      <li><%= link_to "Create Group", new_group_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to image_tag("fb_logout.png"), destroy_user_session_path, method: :delete  %></li>
      <% else %>
      <li> <%= link_to "Log in", new_user_session_path %> </li>
      <li> <%= link_to "Register", new_user_registration_path %> </li>
      <li><%= link_to image_tag("fb_login.png"), user_omniauth_authorize_path(:facebook) %></li>
      <% end %>
      </div>
    </ul>
  </nav>
  
      <div> <%= link_to image_tag("fb_invite.png"), "#", :id => "invite_fb_friends" %> </div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
      $(function(){
        $("#invite_fb_friends").click(function(){
          FB.init({
            appId: '<%= ENV['FBAccessKeyId'] %>', 
            cookie: false,
            status: true
         });
          FB.ui({ method: 'apprequests', message: '<%= current_user %> thinks you are really awesome'})
        });
      });

      </script>
    </div>
</div>
